<?xml version="1.0" ?>
<robot name="tiago_dual" xmlns:xacro="http://ros.org/wiki/xacro">
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_coupler_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_grasping_frame" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_grasping_frame_Y" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_grasping_frame_Z" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_inner_finger_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_inner_knuckle" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_left_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_inner_knuckle" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_base_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_grasping_frame" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_grasping_frame_Y" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_grasping_frame_Z" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_grasping_frame_Y" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_grasping_frame_Z" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_grasping_frame_Z" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Y" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_grasping_frame_Z" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_inner_finger_pad" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_inner_knuckle" reason="Default"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_outer_finger" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_left_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_left_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_left_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_left_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_left_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_left_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_left_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_left_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_inner_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_left_outer_knuckle" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_inner_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_inner_finger_pad" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_inner_knuckle" reason="Default"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_outer_finger" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad" link2="gripper_left_right_inner_finger_pad_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_finger_pad_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle" link2="gripper_left_right_inner_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_finger" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_inner_knuckle_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_outer_finger" link2="gripper_left_right_outer_finger_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_outer_finger" link2="gripper_left_right_outer_knuckle" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_right_outer_finger" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_outer_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle" reason="Never"/>
    <disable_collisions link1="gripper_left_right_outer_finger_dummy_mimic_link" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="gripper_left_right_outer_knuckle" link2="gripper_left_right_outer_knuckle_dummy_mimic_link" reason="Never"/>
</robot>
