<?xml version="1.0" ?>
<robot name="tiago_dual" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_dual_moveit_config)/config/srdf/disable_collisions/right_robotiq-2f-85.srdf.xacro" />
    <disable_collisions link1="gripper_right_base_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_base_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_coupler_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_coupler_link" link2="wrist_right_ft_tool_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_right_grasping_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_grasping_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_grasping_frame_Y" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_grasping_frame_Y" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_grasping_frame_Z" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_grasping_frame_Z" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger_pad" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger_pad" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger_pad_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_finger_pad_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_knuckle" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_knuckle" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_knuckle_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_inner_knuckle_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_outer_finger" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_outer_finger" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_outer_finger_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_outer_finger_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_outer_knuckle" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_outer_knuckle" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger_pad" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger_pad" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger_pad_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_finger_pad_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_knuckle" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_knuckle" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_knuckle_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_inner_knuckle_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_finger" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_finger" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_finger_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_finger_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_knuckle" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_knuckle" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_knuckle_dummy_mimic_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_outer_knuckle_dummy_mimic_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="wrist_right_ft_link" link2="wrist_right_ft_tool_link" reason="Adjacent"/>
</robot>
