<?xml version="1.0" ?>
<robot name="tiago_dual" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_dual_moveit_config)/config/srdf/disable_collisions/right_pal-gripper.srdf.xacro" />
    <disable_collisions link1="gripper_right_grasping_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_grasping_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_finger_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_left_finger_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_link" link2="wrist_right_ft_link" reason="Default"/>
    <disable_collisions link1="gripper_right_link" link2="wrist_right_ft_tool_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_right_right_finger_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_right_finger_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="gripper_right_tool_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="gripper_right_tool_link" link2="wrist_right_ft_tool_link" reason="Adjacent"/>
    <disable_collisions link1="wrist_right_ft_link" link2="wrist_right_ft_tool_link" reason="Adjacent"/>
</robot>
