<?xml version="1.0" ?>
<robot name="tiago_dual" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_dual_moveit_config)/config/srdf/disable_collisions/tiago_dual_omni_no-arm-left.srdf.xacro" />
  <xacro:include filename="$(find tiago_dual_moveit_config)/config/srdf/disable_collisions/right_custom_schunk-ft.srdf.xacro" />
    <disable_collisions link1="arm_right_1_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="arm_right_2_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="head_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="arm_right_3_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="arm_right_4_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_6_link" link2="wrist_right_ft_link" reason="Default"/>
    <disable_collisions link1="arm_right_6_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="wrist_right_ft_link" reason="Adjacent"/>
    <disable_collisions link1="arm_right_tool_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="base_antenna_left_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="base_antenna_left_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="base_footprint" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="base_footprint" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="base_imu_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="base_imu_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="base_rear_laser_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="base_rear_laser_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_depth_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_depth_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_depth_optical_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_depth_optical_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_optical_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_optical_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_orbbec_aux_joint_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_orbbec_aux_joint_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_rgb_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_rgb_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_rgb_optical_frame" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="head_front_camera_rgb_optical_frame" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="suspension_front_left_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="suspension_front_left_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="suspension_rear_left_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="suspension_rear_left_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="virtual_base_laser_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="virtual_base_laser_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="wheel_front_left_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="wheel_front_left_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="wheel_rear_left_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="wheel_rear_left_link" link2="wrist_right_ft_tool_link" reason="Never"/>
</robot>
