<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <arg name="arm_left" default="True"/>
  <arg name="arm_right" default="True"/>
  <arg name="end_effector_left"  default="pal-hey5"/>
  <arg name="end_effector_right"  default="pal-hey5"/>
  <arg name="ft_sensor_left"  default="schunk-ft"/>
  <arg name="ft_sensor_right"  default="schunk-ft"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="orbbec-astra"/>
  <arg name="base_type"  default="pmb2"/>
  <arg name="config_left" value="$(eval ('no-arm-left' if not arm_left else end_effector_left) + ('' if not ft_sensor_left else '_'+ft_sensor_left))"/>
  <arg name="config_right" value="$(eval ('no-arm-right' if not arm_right else end_effector_right) + ('' if not ft_sensor_right else '_'+ft_sensor_right))"/>
  <arg name="file_suffix" value="$(eval ('' if base_type == 'pmb2' else 'omni_') + config_left + '_' + config_right)"/>

  <!-- Load universal robot description format (URDF) -->
  <group if="$(arg load_robot_description)">
    <include file="$(find tiago_dual_description)/robots/upload.launch">
    <arg name="arm_left"  value="$(arg arm_left)"/>
    <arg name="arm_right"  value="$(arg arm_right)"/>
    <arg name="end_effector_left"  value="$(arg end_effector_left)"/>
    <arg name="end_effector_right"  value="$(arg end_effector_right)"/>
    <arg name="ft_sensor_left"  value="$(arg ft_sensor_left)"/>
    <arg name="ft_sensor_right"  value="$(arg ft_sensor_right)"/>
    <arg name="laser_model"  value="$(arg laser_model)"/>
    <arg name="camera_model"  value="$(arg camera_model)"/>
    <arg name="base_type"  value="$(arg base_type)"/>
    <arg name="robot_description"  value="$(arg robot_description)"/>
    </include>
  </group>

  <!-- The semantic description that corresponds to the URDF -->
  <param if="$(eval end_effector_left != 'custom' and end_effector_right != 'custom')" name="$(arg robot_description)_semantic" textfile="$(find tiago_dual_moveit_config)/config/srdf/tiago_dual_$(arg file_suffix).srdf" />
  <param if="$(eval end_effector_left == 'custom' or end_effector_right == 'custom')" name="$(arg robot_description)_semantic" textfile="$(find moveit_custom_dual_config)/config/srdf/tiago_dual_$(arg file_suffix).srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find tiago_dual_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find tiago_dual_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
